[2015-04-11 12:36] thallippoli opened #5 "Can't submit from IE Windows phone 8"
Clicking the Submit button doesn't do anything. Can edit answers though.

[2015-04-11 12:38] karthikb351 commented on #5
Whoops. We don't have a WP phone to test this. Will look into this.

Thanks!

[2015-04-11 12:56] wowitsmrinal opened #6 "Add a share to Facebook button!!"
Add a share to Facebook button!!

[2015-04-11 13:20] kartikluke opened #7 "On mobile only part of the response gets copied into Inbox on Android"
**How to replicate:**
1. Share on a phone.
2. Open in Inbox.
3. Only half the email gets through.

[2015-04-11 13:21] jace commented on #7
What phone, browser and mail client? Android+Chrome+Gmail and iOS+Safari+Mail work.

[2015-04-11 13:21] karthikb351 commented on #7
And also perhaps let us know where exactly it's getting cut off?

[2015-04-11 13:41] irohitojha opened #8 "Not sending email"
Email not sending..

[2015-04-11 13:43] karthikb351 commented on #8
Could you provide some more details? Like which browser and operating system you are on?

[2015-04-11 13:48] abhihimself opened #9 "Send response button not working."
"Send response button" seems to be disabled on the website. Please look in to the issue.

[2015-04-11 13:50] gargsms opened #10 "[Not using Flash] Unable to send email"
I edited about 8 of my answers on the page only to realize later that I don't use Flash on my Firefox for Linux.

May I please ask one good reason why is Flash __necessary__ for the proper functioning of this website? I know many power users who don't use Flash (read hate Flash). Since you are mainly targeting netizens, and a substantial amount of them don't use Chrome as the browser, and many of

[2015-04-11 13:50] abhijitsam opened #11 "email address?"
err.. have i missed anything.. so sorry to ask.. but the email should be sent to which address? also any particular "Subject"?

[2015-04-11 13:51] gargsms commented on #10
@karthikb351 I guess this is explanatory enough.

[2015-04-11 13:53] maxweldsouza commented on #11
advqos@trai.gov.in

[2015-04-11 13:54] karthikb351 commented on #10
It should work without flash as well, allowing you to atleast manually copy paste the response inside the popup.

Flash is used to allow the copied to clipboard functionality. Since there is no HTML api for this currently. This is the plugin we are using - zeroclipboard.org.

On mobiles we use a different non-flash approach because they have native email clients installed. Unlike a desktop.

You c

[2015-04-11 13:54] jarsj commented on #9
The one on the bottom after clicking "Edit Answers" doesn't work on Firefox. The one on the top works.

[2015-04-11 13:55] karthikb351 commented on #9
Could you provide some more details? Browser/Operating System?

[2015-04-11 13:55] aravindet commented on #11
This should have been pre-filled when you clicked on Send email (on phone) or your email provider's button (Gmail, Yahoo or other - on desktop). Did this not happen for you?

Please give more information so that we can try to fix. Such as: What device and browser do you use? What email provider? What are the steps you took, and what happened?

[2015-04-11 13:58] aravindet commented on #10
@gargsms like @karthikb351 said, it's for copy to clipboard, and is only needed on desktop. We’ll try to provide an alternate workflow (where you can copy the email from a textarea) for folks on desktop without flash.

[2015-04-11 13:58] maxweldsouza commented on #10
![screenshot from 2015-04-11 19 25 01](https://cloud.githubusercontent.com/assets/2565045/7101646/c3499214-e080-11e4-8121-e09ecd691f88.png)

Zero clipboard isnt working for me on Ubuntu with Chromium. Cant see the button. Worked for me in chrome and firefox.

[2015-04-11 14:00] gargsms commented on #10
When now I enabled Flash to use this, I realized that we are needed to copy paste the email.
Aren't you using any backend where we could simply ask the user their email and send the email for them?

If you need a hosting, I would be more than willing to help. :smile:

[2015-04-11 14:00] jarsj commented on #9
Firefox 37, Mac OS.

On Sat, Apr 11, 2015 at 7:25 PM, Karthik Balakrishnan <
notifications@github.com> wrote:

[2015-04-11 14:01] aravindet commented on #10
@maxwelsouza yes, chromium does not include pepper flash.

@karthikb351 can we detect when flash is unavailable, then just wire the button to display the #sendModal ?

@gargsms it's not hosting, trai might disregard multiple emails coming from the same server.

[2015-04-11 14:01] kartikluke commented on #7
HTC One. Android. Inbox by Gmail. Around the 11th question.

On Sat 11 Apr, 2015 6:51 pm Karthik Balakrishnan <notifications@github.com>
wrote:

[2015-04-11 14:02] jarsj commented on #9
1) Click "Edit Answers".
2) Scroll Down.
3) Click on the top side (Top-30%) of Send Button. It doesn't work.
4) Clicking on the bottom side works.

On Sat, Apr 11, 2015 at 7:30 PM, Harsh Jain <harsh@crispygam.es> wrote:

[2015-04-11 14:02] kartikluke commented on #7
Picture for reference.

On Sat 11 Apr, 2015 7:30 pm Kartik Luke Singh <kartikluke@gmail.com> wrote:

[2015-04-11 14:02] gargsms commented on #10
@aravindet @karthikb351 https://code.google.com/p/swfobject/ should help.

[2015-04-11 14:03] aravindet commented on #9
@abhihimself Does it look different? Could it be a gray plugin missing icon? Could you send a screenshot? Thanks!

@jarsj thanks we'll try to reproduce this.

[2015-04-11 14:04] maxweldsouza commented on #10
One small thing, shouldn't the border radius on the navbar be set to 0?

[2015-04-11 14:07] pgonline opened #12 "Save The Internet: glitch in email text"
Hi folks,

Firstly, great job of taking the initiative. I am happy to see that the country still has hope!

Coming to the problem, in the email, the following text appears everywhere in the body where a new line should be:
%0D%0A%0D%0A

This makes the email very unreadable and as texty as the stupid TRAI  doc.

I accessed the site using my samsung galaxy grand handset.
Android version: 4.2.2

Kind

[2015-04-11 14:08] asdofindia commented on #9
This is because the flash plugin is active on the upper part and not active on the lower. See screenshot.
![screenshot from 2015-04-11 19 36 45](https://cloud.githubusercontent.com/assets/945777/7101679/57510d88-e082-11e4-97ae-54b7b05ca3eb.png)

[2015-04-11 14:12] gargsms commented on #10
@aravindet @karthikb351 If you are vary about sending mails from a single server, we can rather ask the user for their email address, then send them an email from our server which they can forward to the TRAI address.

Pros:
1. lesser hassle on desktop,
2. lesser copy pasting

Cons:
1. email address either needs to be remembered or copy pasted.

It is marginally more useful. :stuck_out_tongue:
How

[2015-04-11 14:20] kartikluke commented on #7
Possibly there's a limit on body length you can pass through a mailto. I've heard of wonkiness in the number of characters accepted in this regard.

[2015-04-11 14:25] gargsms commented on #12
@pgonline Also, just asking, does the email text contain all of the 20 questions?

[2015-04-11 14:31] maxweldsouza commented on #10
github is also using zeroclipboard for copying the repo url, however they hide the button if flash is not detected

[2015-04-11 14:32] gagan97 opened #14 "No trai email addess"
Please provide trai email id also on page, because when I'm filling up form on mobile on clicking send response it taking me to my email client but doesn't fill the destination address so basically I don't have the email id where I need to post this mail

[2015-04-11 14:34] gagan97 commented on #11
I'm xiaomi note with Google inbox and its not pre-filled

[2015-04-11 14:34] pgonline commented on #12
Yes. That is ok.
Just sort the new line problem and we are good to go.

[2015-04-11 14:36] gargsms commented on #12
Actually there shouldn't be a problem to start with. The browser __must__ send the text in proper format.
Can you provide more details about your browser, email client etc?

[2015-04-11 14:37] karthikb351 commented on #7
@kartikluke can you try again at https://stage-savetheinternet.herokuapp.com/ ?

[2015-04-11 14:38] manuganji commented on #10
[code]

Why not use mailto instead? Requiring flash sucks! My mom and many of her friends computers have outdated or imperfectly working flash installations. If formatting is a concern, we can use one of the approaches suggested in this [stack overflow thread](http://stackoverflow.com/questions/10356329/mailto-link-multiple-body-lines). Let me know how this sounds and I'll send in a pull req right

[2015-04-11 14:38] pgonline commented on #12
I use chrome on my mobile handset running on android v 4.2.2.

I use gmail.

[2015-04-11 14:39] Prashastthegreat opened #15 "Send your response"
i am not able to send my response , i am clicking the button but nothing is happening

[2015-04-11 14:41] manuganji commented on #10
I am also seeing the same issue reported by @maxweldsouza

[2015-04-11 14:41] karthikb351 commented on #14
Could you provide some more information on your OS/Browser?

[2015-04-11 14:44] manuganji commented on #10
Automatically copying to clipboard is not that important to me and I don't think many people care about that either. What will serve us better is to directly go to the compose window and click send.

[2015-04-11 14:46] manuganji commented on #14
This happened to me on iPad.

[2015-04-11 14:46] aravindet commented on #15
Which browser and device are you using?

[2015-04-11 14:49] gagan97 commented on #14
This happened with chrome and Google inbox on xiaomi mobile but it worked with similar configuration and yahoo mail app so I guess Gmail inbox is the culprit here. If u need any help to debug or log please let me know. I'll try to do my best

[2015-04-11 14:52] manuganji opened #18 "The text needs fixing"
It should be

----------------------------
~~Emails should~~ Email would be sent to advqos@trai.gov.in with ~~bcc:~~ a copy sent to netneutralityindia@gmail.com

You will be able to edit before you send. We ~~also~~ send ourselves a copy so that we can verify that your response is acknowledged by TRAI.

[2015-04-11 14:59] a-beer opened #19 "Can we have this button for redistribution?"
Hi, is it possible to make integrating this button on other website really simple? By providing the required code snippet?

[2015-04-11 14:59] aravindet commented on #12
@pgonline Good point regarding github sign ins. Sometimes we forget that everyone is not on Github. We're switching to a google form in the next 5 minutes.

Are any other special characters mangled? Do you see any % symbols followed by 2 digits other than 0D or 0A?

[2015-04-11 15:03] aravindc26 opened #21 "Email body is empty!"
I clicked on edit responses to check the mail body.. and when chose gmail the body did not get filled in the composer.. !!

[2015-04-11 15:04] knightsamar commented on #21
Did you try copy pasting ? The text might be in your clipboard. What browser and platform are you on btw?

[2015-04-11 15:07] gargsms commented on #19
@a-beer Nice idea. On it.

[2015-04-11 15:13] pgonline commented on #12
Awesome! Google forms is a great idea.

No other text apart from what I have already mentioned: %0D%0A%0D%0A

Yes the % sign is visible.

[2015-04-11 15:13] karthikb351 commented on #19
@a-beer We have one in the works. Wanted to get all the bugs of the current code ironed out tonight, and the release something websites can just embed

[2015-04-11 15:14] vijayant123 opened #22 "[Suggestion] Use multiple responses to prevent TRAI from considering all the mails sent to them as spam."
TRAI might consider all the same mails it receives  as spam. You could choose random responses for each questions from these set of favorable responses:

http://bit.ly/altresponse

http://bit.ly/BestOneYetJU

http://bit.ly/ndtvott

http://bit.ly/juresponse

You could take these answers and choose randomly from them.

[2015-04-11 15:15] karthikb351 commented on #12
@aravindet This is explicitly encoded, it's fix for iOS devices. But right now it's for all mobile. I'll change it to only iOS useragents.

[2015-04-11 15:26] kartikluke commented on #7
![screenshot_2015-04-11-20-50-16](https://cloud.githubusercontent.com/assets/3857139/7101931/eea4eef2-e08c-11e4-8137-a55cc384d4d3.png)

Remains the same. Seems to be Inbox specific. Works on Gmail.

[2015-04-11 15:27] ishansharma commented on #22
Thank you. We are working on shuffling the answers already. Will forward your to team.

[2015-04-11 15:27] #22 closed

[2015-04-11 15:27] karthikb351 commented on #12
@pgonline Can you check if it's fixed? Check on stage-savetheinternet.herokuapp.com

[2015-04-11 15:44] #18 closed

[2015-04-11 15:51] karthikb351 commented on #7
It's breaking at the the `=` at the following line.
`a recent study [http://dl.acm.org/citation.cfm?id=2700055]`
That's an encoding issue I can't reproduce here.
Will look into this.

[2015-04-11 15:57] charanraj-golla opened #23 "Correction in spelling"
Correction required in the spelling of "apps". Incorrectly mentioned as "aps" on line no 17

"...only be detrimental to the customer and to Indian firms developing online services and aps..."

[2015-04-11 15:57] abhijitsam commented on #11
@aravindet  : no that did not happen.. it just got copied in my clipboard.
Specs :
Desktop - Chrome - Yahoo
I clicked on yahoo.. it just redirected me to yahoo mail..I had to explicitly click on compose mail.

[2015-04-11 15:59] #23 closed

[2015-04-11 16:11] hvgirish opened #26 "Why Bcc?"
What is the purpose of having the bcc to one of your email-ids by default?

You quote 'You will be able to edit before you send. We also send ourselves a copy so that we can verify that your response is acknowledged by TRAI'. How is the verification done?

I ask because I think this is evil. The default behaviour must be to _not_ include the Bcc and suggest the users to opt-in to add it.

[2015-04-11 16:13] karthikb351 commented on #26
There is no way for us to keep track of exactly how many submissions unless we bcc ourselves, since we are getting users to send it from their own accounts. We don't send it on their behalf

[2015-04-11 16:29] hvgirish commented on #26
I understand the limitation. But to just track the number of users, we are getting personal email-ids from a lot of people which I think is not good. Why not add a dialog-box that asks 'Did you send the email - we need this to just track the overall number of emails sent', Yes, count++. That would be more accurate too, since even people who opt to not bcc, will also be counted accurately.

[2015-04-11 16:29] jace commented on #26
If TRAI claims they did not receive your email -- which is extremely likely since DoT has used this excuse in the past -- we now have proof that they are lying. MediaNama is coordinating this.

[2015-04-11 16:30] #26 closed

[2015-04-11 16:35] jace commented on #26
The majority of visitors to the site are on mobile. Once they send the email, they go back to their email inbox, not to the website.

The privacy conscious can always edit before sending, since nothing is sent automatically. We built defaults for users who didn't want to look into the details.

[2015-04-11 16:38] pgonline commented on #12
There persists here as well!

[2015-04-11 16:38] pgonline commented on #12
The problem persists here as well!

[2015-04-11 16:41] pgonline commented on #12
![screenshot_2015-04-11-22-06-26](https://cloud.githubusercontent.com/assets/11900478/7102239/9e8c1458-e097-11e4-8751-0cf4cd438115.png)

[2015-04-11 16:42] jace commented on #7
Some encoding issue related to the `=` that appears there.

Maybe we should wrap it in bitly.

[2015-04-11 16:42] jace commented on #7
@karthikb351 just wrap the link for now?

[2015-04-11 16:42] karthikb351 commented on #7
On it.

[2015-04-11 16:47] Ritvik1512 opened #28 "Suggestion to link other platforms like Change.org etc. on the website."
I strongly recommend linking other platforms like Change.org on the website, so that we can channelize the movement in some way or other.
Also, I'm working on an alternative to the popup window, that is a bit laggy on some mobile devices. Will post a fix soon.

[2015-04-11 16:56] pravj commented on #6
Hi @wowitsmrinal,

There is a share to Facebook button but it appears once you are done with the emailing.
In the `Thank You` section there, you can also see a Tweet option too.

I second you if you're talking about having a social share portal on the landing page to just share the link on social platforms.

What do you think about this @karthikb351?
There is a [jQuery plugin](https://github.com/i

[2015-04-11 16:59] hvgirish commented on #26
MediaNama, the name, gives me no confidence. You really want those email-ids for future use. Fair enough.
Maybe a check-box to opt-in? Anyway, upto you guys. Personally, I am not too fond of privacy as such. Was just watching out for you because some ppl might throw a fit. I got interested with tracking the number, because, displaying the number in real-time would give such a kick for others to jo

[2015-04-11 17:02] gargsms commented on #21
@aravindc26 You need to paste it yourself.

Please close this issue.

![screenshot from 2015-04-11 22 30 17](https://cloud.githubusercontent.com/assets/5238955/7102336/88bc6c7e-e09a-11e4-8ae9-d60c8faa9952.png)

[2015-04-11 17:03] karthikb351 commented on #12
@pgonline can you check now? - http://stage-savetheinternet.herokuapp.com

[2015-04-11 17:05] gargsms commented on #7
Shouldn't the body be encodeURIComponent'ed instead of replacing just the newline?
It will handle everything by itself.
=  should be %3D

[2015-04-11 17:06] pgonline commented on #12
Same story!

Wot device are you testing on?

[2015-04-11 17:10] karthikb351 commented on #12
Nexus 5, 5.1 lollipop.

Looks like a long night ahead :(

[2015-04-11 17:31] gargsms commented on #12
@pgonline Can you check if [this] (mailto:asdf@example.com?subject=FML&body=I%20hope%20this%0Aworks!) works?

I don't have an Android phone but I tried in a VM running ICS. For me both %0D%0A and only %0A works.

[2015-04-11 17:41] karthikb351 commented on #7
@gargsms Yeah, that's what I did and pushed to the stage server, doesn't help

[2015-04-11 18:01] asdofindia commented on #28
We have netneutrality.in with a lot of links. Too many links on savetheinternet.in might distract people. But it might be a good idea to send people off to netneutrality.in after they send the email.

[2015-04-11 18:08] asdofindia commented on #10
We do have mailto: links. A workaround for flash will be deployed soon. (Flash won't be activated if flash plugin is not installed, like in Github.)

PS: Everyone hates flash. But there are browser/device/email-app/bugs combinations that makes depending on mailto: alone less reliable.

[2015-04-11 18:30] pgonline commented on #12
I hope this%0Aworks!

This is wot im getting

[2015-04-11 18:35] gargsms commented on #12
Dang! Life is hard. :disappointed:
Weird anomalies all around.

[2015-04-11 18:42] PrashntS opened #31 "Cannot scroll response body in textarea until you click."
It'd be better if we could scroll through the response body in textarea.
I am using Chrome 41 on OSX.

[2015-04-11 18:43] srikanthlogic opened #32 "Add a WhatsApp Share button"
May be mobile only. Requested by user on google form feedback

[2015-04-11 18:43] pgonline commented on #12
Ok guys. Some good news!

I did some research and realised that the issue could be due to the browser itself.
I found out that google released some major updates on chrome browser.
I just updated the same. Its working perfectly now. :-)

So it was Google's fault not urs! :-|

Anyway, is there a way to warn people about this? Am pretty sure not everyone updates their apps thanks to the limited inte

[2015-04-11 18:46] srikanthlogic opened #33 "Spaces gets converted to escape characters"
When you click that send and it goes in my gmail app, all the empty lines gets converted to \0AD characters:
For example :
""Question 4: Should the Internet/OTT players pay for use of the Telecom Operators network over and above data charges paid by consumers? If yes, what pricing options can be adopted? Could such options include prices based on bandwidth consumption? Can prices be used as a mean

[2015-04-11 18:47] #8 closed

[2015-04-11 18:48] karthikb351 commented on #33
Duplicate of #12 .

[2015-04-11 18:48] #33 closed

[2015-04-11 18:50] gargsms commented on #12
Wut!@pgonline By the way, you can create a Wiki page as a contribution if you want. :)

[2015-04-11 18:54] pgonline commented on #12
That is a good idea!
However, I don't know if I will be able to do justice to it as I just got to know about this issue through AIB's video.

I need to do some research before making one! May do it tomorrow of possible! #Sunday :-D

[2015-04-11 21:49] suj009 opened #39 "Highlighting the necessary sentences"
Once the person clicks "Send your response" button, There is a pop-up with Q&A and later a small section providing instructions on "How to send the email". From my point of view, this information is very important for the person to see first and get his mind clear rather than the whole Q&A which is already written. Also, the sentence which points out "The response has been copied into your clipboa

[2015-04-12 02:43] jace opened #41 "Show which email is being BCCed"
In the explanation modal where we give away TRAI's email address and our BCC address, we should show the address that was picked by random selection, not the default address. Some people are getting suspicious when the BCC address changes.

[2015-04-12 02:59] manuganji opened #43 "Telugu translations for the text"
Save the internet. Tell TRAI we need network neutrality.

ఇంటర్నెట్ ని కాపాడండి. మనకి నెట్వర్క్ తటస్థత అవసరం అని ట్రాయ్ (TRAI ) కి  చెప్పండి.

-----------------------

This page has the best arguments that favour net neutrality in India, written as a response to the TRAI consultation paper. The deadline for submission is 24th April 2015.

ఈ పేజీ ట్రాయ్ సలహా పేపర్ కి సమాధానంగా రాయబడింది . ఇందులో భా

[2015-04-12 04:45] Ritvik1512 commented on #28
Alright sweet.

[2015-04-12 04:45] #28 closed

[2015-04-12 05:16] jace commented on #39
We've changed the workflow so that copying is not automatic. You have to copy to clipboard manually (the site will ensure you copy the full thing). We'll go live after a bit more testing since there's a lot of traffic on the site and small issues will blow up.

[2015-04-12 05:29] paramv opened #45 "A summary of the entire response"
It might be helpful if the response to the TRAI consultation paper is summarized in bullet points, probably as a new button/collapsible div. This would prevent people from being overwhelmed by the size of the response. While it is true that one should not submit the response without reading it in its entirety, it would help to explain terms like "net-neutrality","OTTs" etc and bullet points how th

[2015-04-12 05:45] anandology commented on #43
Neutrality is called "తటస్థత"  in telugu, not "మధ్యస్థత".

[2015-04-12 05:47] suj009 commented on #39
From my understanding, the previous approach was easy and efficient. But needs a clear instruction and aligning. In this approach, a user needs to just paste the Q&A which is already copied automatically. But in the new workflow, you are allowing users with manually copy the Q&A, which increases one step from the previous version. But with this workflow also, the problem of user ending with empty

[2015-04-12 06:10] asdofindia commented on #45
This is what we're trying to do with [netneutrality.in](http://netneutrality.in). It is linked to from this site.

[2015-04-12 06:14] vyder opened #47 "Add a couple trackers to homepage to show participation"
Problem: Right now, although the main page is informative and is clear on the action(s) a visitor is expected to take, it does not indicate how many people have already emailed them or shared/like the page etc.

Potential Solution: How about writing a little script that keeps track of the number of emails you receive by bcc and shows it on the website? This makes it more interactive, and helps the

[2015-04-12 06:15] asdofindia commented on #47
We already have a script that counts the emails sent (and it was well above 20,000 last night itself :D). It'll soon be added to the site.

[2015-04-12 06:21] vyder commented on #47
Nice! Looking forward to seeing it.

[2015-04-12 06:22] #47 closed

[2015-04-12 07:08] #41 closed

[2015-04-12 07:10] sudheesh001 commented on #21
The actual behaviour that is generally expected by the user is for the content to load automatically in the body which isn't happening right now. One thing to remember is that users want minimal effort while achieving maximum impact.

Right now, it took my friends quite some time to realise that the content was on their clipboard and expected the content to be there automatically. This could be se

[2015-04-12 07:58] manuganji commented on #43
I got that as the first suggestion in Google Translate but I thought that sounds a little too technical for people to grasp. I wonder which word has been adopted by the media though. For now, I replace it with తటస్థత :)

[2015-04-12 08:07] #21 closed

[2015-04-12 08:09] miteshashar commented on #21
We are looking at pushing a better alternative version of the UI soon. That shall be expected to handle all these issues.

[2015-04-12 08:09] srikanthlogic opened #51 "Better alternative flow to editing answers"
Edit answers is useless on mobile.  content editable doesnt work (Chrome / Android). should we hide them on mobile ? , its a regression, works on master.. stage has an issue

mitesh [1:31 PM]
I think the editing part can be handled much better. We need to shift away from the contenteditables

[2015-04-12 08:09] ishansharma commented on #14
Google Inbox issue will be fixed in latest released.

[2015-04-12 08:10] #14 closed

[2015-04-12 08:10] ishansharma commented on #11
Google Inbox will be fixed in latest release (to be out soon).

[2015-04-12 08:10] #11 closed

[2015-04-12 08:12] miteshashar commented on #45
Should be taken care of by #51

[2015-04-12 08:12] #45 closed

[2015-04-12 08:13] miteshashar opened #52 "Form a standard process for integrating & maintaining translations"

[2015-04-12 08:19] miteshashar commented on #31
Shall be resolved witg #51

[2015-04-12 08:19] #31 closed

[2015-04-12 08:20] miteshashar commented on #19
@a-beer Are you referring the the `Send your response` button or a generic banner to put on websites?

[2015-04-12 08:24] asdofindia opened #54 "UC Browser Bcc mix up"
UC Browser (not mini) mixes up the BCC field. Text from the body gets filled in this field. Also, the body is incomplete.

[2015-04-12 08:25] asdofindia opened #55 "UC Mini javascript modal unreliable"
UC Mini does javascript evaluation via their server (like opera mini - probably suffers the same bug). Therefore, send response is unreliable.

[2015-04-12 08:26] miteshashar commented on #15
This shall be handled in an upcoming release in a short while.

[2015-04-12 08:26] #15 closed

[2015-04-12 08:29] miteshashar commented on #12
@pgonline confirmed the issue is resolved and was due to an issue in Chrome's older version.

[2015-04-12 08:29] #12 closed

[2015-04-12 08:30] miteshashar commented on #10
Issue will be resolved in an upcoming release.

[2015-04-12 08:30] #10 closed

[2015-04-12 08:31] miteshashar commented on #9
Issue will be resolved in an upcoming release.

[2015-04-12 08:31] #9 closed

[2015-04-12 08:32] asdofindia opened #56 "Windows Phone IE send button doesn't work"
The send button can be pressed and shows the dotted border. But this doesn't cause any action.

Reported on a range of lumia phones.

[2015-04-12 08:34] miteshashar commented on #7
This issue has been reported as closed.

[2015-04-12 08:34] #7 closed

[2015-04-12 08:34] miteshashar commented on #5
Resolved version will go live soon.

[2015-04-12 08:34] #5 closed

[2015-04-12 08:37] miteshashar commented on #56
You mean the modal doesn't show up? @asdofindia

[2015-04-12 08:39] asdofindia commented on #56
Yeah. No modal.
It feels just like preventDefault on a hyperlink.

[2015-04-12 09:22] indradhanush opened #59 "Encourage users to write a message themselves"
Problem: Sending the same message could be useless as TRAI might think its only a handful of people using different email addresses.

Solution: Explain the consequences of net neutrality violation and how it can affect any regular individual, and tell them why they should preferably write about it in their own words.

[2015-04-12 09:33] Vadi opened #60 "Deadline seems to May 8th as per TRAI instead of April 24th."
Not sure "deadline" means in the home page. Would be able to provide pull request, if people are busy here.

![image](https://cloud.githubusercontent.com/assets/218148/7105105/4692a71a-e125-11e4-8a6f-fa322713a4b6.png)

[2015-04-12 09:35] asdofindia commented on #60
The deadline for sending comments is April 24. May 8 deadline is for counter comments. We'll probalby need another campaign for that :D

[2015-04-12 09:36] Vadi commented on #60
You're right. Closing it. We will need another issue to come up with counter comment approach.

[2015-04-12 09:36] #60 closed

[2015-04-12 09:41] asdofindia commented on #51
Can't edit the answers on Firefox for Android, Safari on iPhone.

[2015-04-12 09:41] knightsamar commented on #51
Ok. Let's just tell mobile users, _specifically_ they can edit the responses in their Compose window.

[2015-04-12 10:27] srikanthlogic opened #62 "AdBlockPlus blocking popups"
ABP blocking popups.

1. Add note to disable ABP?
2. Can we avoid popups??

[2015-04-12 10:36] knightsamar commented on #62
No issue on Firefox 37.0.1 on Lollipop on Moto G 2. Didn't need to disable for the site.

[2015-04-12 10:50] sakshamsaxena commented on #56
Not working on UC on WP as well. Will be looking into it shortly.

[2015-04-12 10:59] ermauliks opened #63 "Show counter in Home page for how many visits and emails sent"

[2015-04-12 11:06] ermauliks opened #64 "Error while running grunt command"
I'm not sure its only me or anyone else too getting this error

![image](https://cloud.githubusercontent.com/assets/3040988/7105358/fd263396-e131-11e4-936e-018a1d489bd9.png)

[2015-04-12 11:07] miteshashar commented on #64
@ermauliks We stopped using the `dist` folder and grunt.

[2015-04-12 11:07] #64 closed

[2015-04-12 11:11] jace commented on #39
That's exactly how it works. Earlier people didn't notice that they had to paste. Now they can't proceed until they copy, so it's clearer that they need to paste.

[2015-04-12 11:41] ermauliks commented on #63
I can pick this up, if anyone can guide me about accessing the numbers? Do we've access to it? cc @miteshashar @asdofindia

[2015-04-12 11:46] suj009 commented on #39
That's, perfect. But I feel people might get confused still at last phase. so here is my proposed solution.

![screen shot 2015-04-12 at 12 45 48 pm](https://cloud.githubusercontent.com/assets/5426006/7105449/e3358dda-e111-11e4-999f-ac7e6e3b8faf.png)

[2015-04-12 12:07] suj009 commented on #62
no issues on chrome too.

[2015-04-12 12:22] aravindc26 commented on #21
My bad, did not notice it !

On Sat, Apr 11, 2015 at 8:34 PM, Samarendra M Hedaoo <
notifications@github.com> wrote:

[2015-04-12 12:51] shrayasr commented on #62
No issue on Firefox 37.0.1 on OSX 10.10.1

[2015-04-12 13:43] sakshamsaxena commented on #56
Emulated the website through desktop's IE.
![1](https://cloud.githubusercontent.com/assets/8774516/7105779/5b70ce74-e147-11e4-91a1-52b66a10a263.PNG)
![2](https://cloud.githubusercontent.com/assets/8774516/7105780/5b7d25ac-e147-11e4-852a-578a2edd4ca3.PNG)
The error (SCRIPT 122) is related to IE not able to handle the length of URI for some reason. Makes sense though.
Tried a couple of things and fo

[2015-04-12 14:50] gargsms commented on #62
No issues. Firefox 38, Firefox Nightly 41 on Ubuntu 14.04.
What popups are you talking about anyway?

[2015-04-12 15:53] ford-prefect opened #65 "Improvements to stock answers"
Some suggestions

Answer 2. Maybe it makes sense to point out that browsers now carry a full real-time peer-to-peer communication stack (WebRTC), so every browser will soon be able to send text, voice and video to every other browser. In such a marketplace, regulation would be unfeasible and detrimental.

Answer 3. Suggested preface

Answer 18: Maybe preface the answer with

Also, replace most ins

[2015-04-12 17:32] a-beer commented on #19
A generic banner would be cool, but I think the `send your response` button will be more effective.

[2015-04-12 23:35] sarbbottam opened #70 "whats app social button is invisible/partially visible in mobile layout"
![screen shot 2015-04-12 at 4 32 36 pm](https://cloud.githubusercontent.com/assets/949380/7108153/c464e84a-e131-11e4-8115-53d59f0225e1.png)

[2015-04-13 01:46] sarbbottam opened #73 "Can there be a gitter room set up?"

[2015-04-13 05:02] #70 closed

[2015-04-13 05:16] karthikb351 commented on #63
@ermauliks Most of the data we get is deferred. Mails get delivered late, and GA doesn't give us live numbers.

We'll get back to this once we have a more reliable system for stats.

[2015-04-13 05:17] karthikb351 commented on #62
Can we close this @srikanthlogic ?

[2015-04-13 05:20] karthikb351 commented on #32
Fixed via 006d30d4eed5f49d0249243964ad525677d2c06c

[2015-04-13 05:20] #32 closed

[2015-04-13 05:33] sarbbottam commented on #64
I faced the same. It is due to the referencing css file with respect to the root [`/css/bootstrap.css?v1`](https://github.com/netneutrality/savetheinternet.in/blob/stage/src/index.html#L11)
On replacing `/css/bootstrap.css?v1` with `css/bootstrap.css?v1`, the error get resolved.
However, there are client side JS issue, with the compiled JS.

My 0.02 :dollar:, I guess there are chances of refactori

[2015-04-13 06:31] karthikb351 commented on #73
Discussions are noisy and fragmented as it is. Public chat room will make it worse.

Github issues provide more focus.

[2015-04-13 06:31] #73 closed

[2015-04-13 10:40] jatindhankhar opened #77 "[Feature Request] Add https support"
Add the https support, to move the web forward.

Quoting from the [blog of Hasgeek]()
<blockquote>
HTTP has always been an insecure protocol – your communications are sent back and forth in plain text, readable by anyone tapping your internet connection – but the cost of switching to HTTPS and general public apathy has left us with most sites still on HTTP. </blockquote>

Free plans can be added f

[2015-04-13 10:44] jace commented on #77
Since you aren't submitting anything to the site, HTTPS doesn't change anything. It only prevents anyone from knowing you visited the site. However in this case you want to announce that you went to the site and sent an email.

We debated whether the site needed HTTPS and realised (a) it wasn't necessary and (b) we could spend our time better adding more features and fixing edge cases.

[2015-04-13 10:57] jatindhankhar commented on #77
Yes, your arguments make more sense.
Closing the issue
But consider Github Pages, may help in cutting down hosting costs :smile:

[2015-04-13 10:57] #77 closed

[2015-04-13 14:13] srikanthlogic commented on #62
@karthikb351 Reported this from feedback spreadsheet. Think we can.

[2015-04-13 14:13] #62 closed

[2015-04-13 15:31] jace commented on #77
We're on Heroku's free plan and it's holding up well.

[2015-04-13 17:14] aravindet commented on #77
I'll look at doing this anyway, but not a high priority.

1. Prevents telcos from tampering with the page tricking people into
sending the wrong thing. (Far fetched but you never know).

2. Encrypting everything serves a social good as it increases the cost of
bulk surveillance. We will make a good impact here because heroku shares
IPs and we have massive traffic. (Also not a critical issue as far

[2015-04-13 22:35] crc442 opened #83 "Shouldn't there be more content explaining what Net Neutrality is?"

[2015-04-13 22:39] shrayasr commented on #83
please check netneutrality.in for content relating to what Net Neutrality is

[2015-04-13 22:46] #83 closed

[2015-04-14 02:02] thepegasus opened #84 "Social media sharing links (Possibly using Addthis or similar tool)"
It will be logical to place social media sharing links in the homepage possibly using Addthis (http://www.addthis.com/) or a similar tool. Importance should be given to sharing on twitter, FB and Linkedin. A sample can be seen in the page http://www.addthis.com .

[2015-04-14 04:42] miteshashar commented on #84
Thanks @thepegasus. We do have social media sharing tools using socialite. They are shown after one sends the email.

[2015-04-14 04:42] #84 closed

[2015-04-14 05:01] miteshashar commented on #54
We show a warning for this to users.

[2015-04-14 05:01] #54 closed

[2015-04-14 05:05] miteshashar commented on #59
The answers are now randomised, @indradhanush.
The aware & more proactive netizens always have the last-mile option to read and edit their emails before they hit 'Send'.

[2015-04-14 05:05] #59 closed

[2015-04-14 05:20] miteshashar commented on #56
@asdofindia @sakshamsaxena Does the latest version of the site face these issues?

[2015-04-14 05:21] miteshashar commented on #55
We are showing a warning to users.

[2015-04-14 05:21] #55 closed

[2015-04-14 05:45] aravindet commented on #56
Let us switch to copy-paste flow for IEMobile. Remove it from the isMobile
regex.
On Apr 14, 2015 10:50 AM, "Mitesh Ashar" <notifications@github.com> wrote:

[2015-04-14 07:21] sakshamsaxena commented on #56
@miteshashar I can edit answers just fine now, but yeah the Send option isn't working still. Same error in console which I quoted above. Need to write an altogether different approach to handle IE on WP.

[2015-04-14 15:49] sachingadagi opened #87 "Kindly remove JS logs"
Kindly comment console.log() at line 561, 568 of index.html page that is live as it may hamper page performance.
Also looking further to contribute to the social cause.
Thanks & regards.

[2015-04-14 15:53] karthikb351 commented on #87
+1

cc: @miteshashar

[2015-04-14 16:56] manuganji commented on #43
Is this going to be used at all? Do you need any more information?

[2015-04-14 23:12] sarbbottam opened #88 "proposal/suggestion"
Proposal/Suggestion
---
* refactor to keep the code modular and use template
* keep the following separate
  * templates
  * data
  * copy
  * css
  * javascript
* generate the desired composite from the modular
  * templates
  * data
  * copy
  * css
  * javascript
* use a template engine to create the composite
* use a task runner (preferably grunt, gulp) to achieve the above
* test cases
  * un

[2015-04-15 02:45] miteshashar commented on #65
Thanks @ford-prefect.
@atnixxin Take a look once?

[2015-04-15 02:51] miteshashar commented on #63
@ermauliks For now you can follow Bulletin Babu on https://twitter.com/bulletinbabu

[2015-04-15 02:54] #87 closed

[2015-04-15 03:10] miteshashar commented on #56
Can you please test on http://stage-savetheinternet.herokuapp.com and give me some feedback?

1. Can people with IE on Windows Phones & desktop test whether (a) popup opens (b) ur able to copy the text (c) after ur done copying, there is just one button to mail, and your mail client does open.
2. Can NON WINDOWS & NON-IE folks please give me feedback on whether it works on whatever platform you're

[2015-04-15 03:34] asdofindia commented on #56
Android - Firefox: works
Linux - Firefox: works
iOS - Safari: works

[2015-04-15 03:36] menatankush commented on #56
Works on:
Android : Chrome with Google Inbox, Gmail
Linux : Chrome, Firefox with Geary

Doesn't work on.
Android: Chrome with "stock Email app"

On Wed, Apr 15, 2015, 9:04 AM Akshay S Dinesh <notifications@github.com>
wrote:

[2015-04-15 05:18] #63 closed

[2015-04-15 05:21] miteshashar commented on #63
@karthikb351 This is technically still open. Isn't it?

[2015-04-15 05:22] karthikb351 commented on #19
@vivekdurai has made [this ribbon](https://gist.github.com/vivekdurai/fd7ac069e1b44704efe7) for sites to add. Could use some tweaks.

cc: @gargsms @a-beer

[2015-04-15 05:25] karthikb351 commented on #63
We could just leave it parked. But I thought we discussed that we wouldn't have a counter on the site for performance reasons. Not mention the addition traffic that will come just to see the counter(which is great, but we don't need unnecessary traffic :P)

[2015-04-15 05:26] ermauliks commented on #63
@karthikb351 makes sense. Now we don't need to motivate people anymore ;)

[2015-04-15 05:57] c-das commented on #88
+1 this could also make translations easier to integrate/manage [https://github.com/netneutrality/savetheinternet.in/issues/52]

[2015-04-15 05:58] miteshashar commented on #63
(Y)

[2015-04-15 05:59] miteshashar commented on #56
OK. @asdofindia & @menatankush  thanks for the feedback.

[2015-04-15 05:59] #56 closed

[2015-04-15 06:06] karthikb351 commented on #88
+1 as well

Initially things were too unstable, and a system like would just slow us down. But we translations coming in, it makes sense to mode to a template system.

None of us have the bandwidth currently to do this at the moment, maybe over the next couple of days.

cc: @miteshashar

[2015-04-15 06:16] miteshashar commented on #88
@sarbbottam Yes. We are all for it.
The only thing that has been stopping us is bandwidth, like @karthikb351 said.
Feel free to submit PRs if you can manage.
You have pretty much covered everything. Just appending to it below:
1. The priority is modularisation as it will enable a lot of stuff, including translation like @c-das said.
2. A test suite would never hurt. It can make life easy, speciall

[2015-04-15 07:34] sarbbottam commented on #88
:maple_leaf: Lets keep this thread open for any followup discussion.

---
I would get started on the first cut of the modular code base.

Could you please help me understand the followings:
* Why there are two sets of answer to every question but only one is visible to the users?
* How many answers can there be for each question?
* If there are multiple answer, what is the deciding factor to choos

[2015-04-15 17:15] akshaytyagi opened #89 "Reduce the number of CTA buttons!"
There are two many CTA buttons. There are two report buttons which are in the same color as the main "Respond to TRAI" button, and an additional button linking to Github.

I think the primary button should be green, there should be only one report button, and the report and GitHub buttons should be less prominent. Consider making them a light shade of gray. They should probably be just links inste

[2015-04-15 17:20] menatankush commented on #89
+1
I agree with @akshaytyagi

[2015-04-15 17:22] karthikb351 commented on #89
It is a bit much. I agree.

cc: @jace

[2015-04-15 17:44] menatankush commented on #89
index.new.html version looks good on Mobile devices, just little bit formatting changes required. (Y)
![screenshot_2015-04-15-23-08-55](https://cloud.githubusercontent.com/assets/9079960/7165385/0f18f3c8-e3c5-11e4-8a9b-7aaa9654e6d2.png)

[2015-04-15 18:23] jace commented on #89
This one is too heavy for our current traffic level, so we moved it out to the related site `netneutrality.in`.

[2015-04-15 21:17] crc442 commented on #88
The site needs a redesign. If it's worth it, I can mock some designs here and make a PR.

[2015-04-15 21:40] jace commented on #88
Sure, but keep in mind that it has an average of 2000-3000 users on the site at any given time during the day, with daily pageviews of 500,000. That's far more traffic than most sites get. We are also catering to:

1. Majority mobile audience (> 60%),
2. Who are on slow EDGE or GPRS connections, and
3. Who need to see an unambiguous call to action regarding emailing TRAI.

To achieve this:

1. The

[2015-04-15 21:41] jace commented on #88
@sarbbottam answers are selected at random from the available set. We had an earlier mockup where users could browse through the options, but it didn't make it to production.

[2015-04-15 23:44] sarbbottam commented on #88
Thanks @jace.

Is there a finite set of answers (so far I have seen only two), this information will help to structure the data.

[2015-04-16 06:41] #89 closed

[2015-04-16 09:09] shrayasr commented on #88
There are no such constraint AFAIK. As more answers are written, they can be added in.

[2015-04-16 09:14] miteshashar commented on #88
True. No limit on number of answer options.

On Thu 16 Apr, 2015 14:39 Shrayas Rajagopal <notifications@github.com>
wrote:

[2015-04-16 17:14] crc442 commented on #88
@jace Thanks. That sounds good. I'll see what I can do :+1:

[2015-04-17 06:37] karthikb351 commented on #6
@pravj We wanted to know the count of shares as well, which Socialite.js does.

[2015-04-17 06:37] #6 closed

[2015-04-17 06:38] #39 closed

[2015-04-17 06:39] karthikb351 commented on #51
Can we close this?
cc @miteshashar

[2015-04-17 06:45] #51 closed

[2015-04-17 17:31] vivekdurai commented on #19
@jace wanted to make changes to the padding

[2015-04-18 19:29] akshaytyagi opened #91 "Improved copy"
A lot of the language on the STI page is convoluted and repetitive. I have simplified it a bit. Consider using it.

![sti](https://cloud.githubusercontent.com/assets/992983/7216927/ea4a1c2c-e62e-11e4-96d4-c704a45dfb73.PNG)

Plain text of the new copy:

[2015-04-18 19:42] shrayasr commented on #91
:+1: from me. I like the simplicity here.

[2015-04-19 08:13] karthikb351 commented on #91
This has become an obvious issue.
cc: @jace and @atnixxin can we do a rewrite?

[2015-04-19 08:19] jace commented on #91
Good to merge.

[2015-04-28 14:27] akshaytyagi opened #95 "TRAI email screw up"
I almost made a comment here suggesting STI send all mails on people's behalf by anonymising people's IDs by doing something along the lines of the MaskMe tool. This would also make the submission process simpler by not making people leave the site.

I don't know why, but I had a feeling that exactly this was going to happen. This is why I used my public email id instead.

These people don't under

[2015-04-28 14:49] aravindet commented on #95
This is TRAI's mistake and they should be fixing it on their end. We cannot send emails on peoples' behalf for obvious credibility reasons.

[2015-04-28 14:49] #95 closed

[2015-05-09 08:16] sarsarahman commented on #95
@akshaytyagi : How would one will send mail on others behalf? thats totally illogical and also if you mask the ID how would you prove the authenticity of the petitioner? Its totally fault of TRAI.

[2015-08-18 06:41] sohamkamani opened #96 "Adding jshint to Grunt tasks"
Linting all the javascript would prevent silly errors from getting in the way of making an awesome website, and make sure all the js code is up to mark before anyone commits anything. Also would make the website easier to scale and improve.

I have already started working on adding jshint to default grunt task and fixed a few errors thrown by it. Thoughts?

[2015-08-18 06:43] sohamkamani commented on #96
... just realized this might be a little out of date :sweat:

[2015-08-18 06:46] karthikb351 commented on #96
That's okay, send a PR anyway @sohamkamani

[2015-08-18 06:49] #43 closed

[2015-08-18 06:49] #52 closed

[2015-08-18 06:49] #65 closed

[2015-08-18 06:49] #91 closed

[2015-08-18 06:50] #88 closed

[2015-12-18 10:29] karthikb351 opened #99 "Localisation needed"

[2015-12-18 15:36] rdsubhas opened #100 "Add Instructions on how to respond to Facebook's Free Basics form"
The home page shows Email instructions. It would be nice if we can also include screenshots of Facebook's sly free-basics form that is being shown to millions of people.

http://www.huffingtonpost.in/2015/12/17/facebook-free-basics_n_8824378.html

[2015-12-22 09:10] lgp171188 opened #101 "javascipt:void(0) opens when clicking 'Change' to change the constituency in the Select your MP page"
Steps to reproduce:

Select some random MP. Click change to change it. ``javascipt:void(0)`` opens as a page and errors out.

[2015-12-22 09:12] karthikb351 commented on #101
Fixed via 8de86b7006e18238114a140718518e7096e5e4a6

[2015-12-22 09:23] #96 closed

[2015-12-24 00:41] nhylated opened #105 "Include Tim Berners-Lee's advise on rejecting internet.org in all communications"
From http://www.theguardian.com/technology/2015/may/29/tim-berners-lee-urges-britain-to-fight-snoopers-charter:

This can be included in the website, in the body of the email sent to TRAI and in all communication sent out from the website.

[2015-12-24 09:35] sherkhan911 opened #106 "Meenakshi Lekhi"
Please type the details of the bounced email address(es) here…

[2015-12-24 10:07] metizror opened #107 "Please enter the name of the MP here"
Please type the details of the bounced email address(es) here…

[2015-12-24 10:09] shrayasr commented on #107
Hey, Had problems with sending an email to some MP? Please mention the name here so that we can look into it.

Thanks

[2015-12-24 10:46] Rajeev0507 opened #108 "SMT. Meenakshi lekhi - NCT - New Delhi"
meenakashi.lekhi@sansad.nic.in

[2015-12-24 13:28] sahilgoyal786 opened #111 "Dharam Vira Gandhi"
Delivery to the following recipient failed permanently:

     dvgandhi@yahoo.com

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain yahoo.com by mta7.am0.yahoodns.net. [98.138.112.38].

The error that the other server returned was:
554 delivery error: dd This user doesn't have a yahoo.com account (dvgandhi@yahoo

[2015-12-24 13:41] knightsamar commented on #111
The right email address according to http://myneta.info/ls2014/candidate.php?candidate_id=7853 is dvgandhi1951@yahoo.com and I have tested it just now. A PR is on the way.

[2015-12-24 17:03] GirishDamuluri opened #115 "Please enter the name of the MP here"
Please type the details of the bounced email address(es) here…

[2015-12-24 19:30] vrajjshah opened #116 "Gujarat – Kheda : Shri Devusinh Jesingbhai Chauhan"
devusinhc.jesinbhai@sansad.nic.in

[2015-12-24 19:42] sachin26 opened #117 "Mrs. Meenakashi Lekhi"
meenakashi.lekhi@sansad.nic.in

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain sansad.nic.in by mailgw.nic.in.

[2015-12-25 06:54] knightsamar commented on #117
Could you paste the full error message on pastebin or something like that and give a link to it ? It seems to be the official address as listed on Sansad's member page: http://164.100.47.192/Loksabha/Members/MemberBioprofile.aspx?mpsno=4717

[2015-12-25 06:57] knightsamar commented on #116
What exactly is the problem ?

[2015-12-25 08:48] vjudragon opened #118 "Please enter the name of the MP here Shri Gopal Chinayya Shetty"
paste bin link: http://pastebin.com/gTDCkVbe

[2015-12-25 10:19] devnithinay opened #119 "Shri Gowdar Mallikarjunappa Siddeshwara"
Bouncing E-mail address : gm.siddeshwara@sansad.nic.in

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain sansad.nic.in by mailgw.nic.in. [164.100.2.6].

The error that the other server returned was:
550 #5.1.0 Address rejected.

[2015-12-25 11:26] veeru1saini1 opened #121 "Smt. Meenakashi Lekhi"
Delivery to the following recipient failed permanently:

     meenakashi.lekhi@sansad.nic.in

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain sansad.nic.in by mailgw.nic.in. [164.100.10.19].

The error that the other server returned was:
550 #5.1.0 Address rejected.mail address(es) here…

[2015-12-25 14:13] karthikkhadke opened #122 "Please enter the name of the MP here"
To,

Shri B. Sreeramulu

Member of Parliament, Bellary (ST)

Respected Sir,

It has been nine months since over 12 lakh Indian Internet users wrote to the TRAI in favour of Net Neutrality. Over 450 Internet Startups wrote to the Prime Minister for his support in ensuring that the telecom industry and Facebook not to gain control over the Internet by controlling what users access. It has also been

[2015-12-25 15:21] ad-a-hoc opened #123 "Karnataka – Bangalore South : Shri Ananth Kumar"
You have received this notification, as the recipient e-mail Address has been deactivated.

Original Envelope Sender: axxxxxxxs@gmail.com
Envelope Recipient: akumar-alpha@sansad.nic.in
Date: 12/25/15
Time: 20:47:07
Subject: Seeking your support for Net Neutrality in Parliament

Message Administrator

[2015-12-25 19:32] prats13bag opened #124 "Ravindra Kumar Pandey"
rkpandeysaansad@gmail.com

Ravindra Kumar Pandey,
MP-Giridih, Jharkhand

[2015-12-25 19:37] prats13bag commented on #124
Delivery to this email id failed permanently. However mail has been sent to his other email id (nic mailbox)

[2015-12-26 02:28] amarendra opened #125 "There is no mention of anything related to net-neutrality anywhere on the website what"
Or what is at stake here regardint current Facebook plans, or something like Airtel Zero.

At least a page where other sources, videos can be linked, would be quite useful for people who are visiting the site.

PS. I recommended the site to a friend who asked what netneutrality is and he told me that the site just asks him to send an email is all.

[2015-12-26 05:49] runningmark opened #126 "Include freebasics domain"
TRAI has issued another consultation paper asking once again, if we want Net Neutrality. This time, it's about differential pricing - Airtel Zero and Internet.org type services.
Include it as people would think it is wrong there is internet.org not freebasics

[2015-12-26 07:29] whoschcekingin opened #127 "MP Anand Kumar Banglore South"
The EMAIL ID is inactive.

[2015-12-26 07:54] akkigajbhiye opened #128 "Nitin Jairam Gadkari,MP, Nagpur"
Delivery to the following recipient failed permanently:

     email@nitingadkari.org

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain nitingadkari.org by smtp.secureserver.net. [72.167.238.29].

The error that the other server returned was:
550 5.1.1 <email@nitingadkari.org> Recipient not found.  <http://x.co/

[2015-12-26 08:15] #101 closed

[2015-12-26 08:20] miteshashar commented on #106
She has two email addresses listed: meenakashi.lekhi@sansad.nic.in, mrs.mlekhi@gmail.com.
Can you please confirm which one you are facing an issue with sending an email to.

[2015-12-26 08:22] miteshashar commented on #107
@metizror I am closing the issue for now, since the name of the MP is not mentioned, nor any other details provided.
Feel free to place a comment and let us know further details and henceforth reopen the issue.

[2015-12-26 08:22] #107 closed

[2015-12-26 08:23] miteshashar commented on #108
That is one of the listed email address on the Lok Sabha website. Is the email to her gmail account getting through?

[2015-12-26 08:23] miteshashar commented on #108
Duplicate for: #106

[2015-12-26 08:41] miteshashar commented on #111
Solved in https://github.com/netneutrality/savetheinternet.in/commit/626b6d5a9d211527a8928825d11bc8e4b607e712

[2015-12-26 08:41] #111 closed

[2015-12-26 08:42] miteshashar commented on #115
@GirishDamuluri I am closing the issue for now, since the name of the MP is not mentioned, nor any other details provided.
Feel free to place a comment and let us know further details and henceforth reopen the issue.

[2015-12-26 08:42] #115 closed

[2015-12-26 08:45] miteshashar commented on #122
@karthikkhadke There are two emails listed for Mr. Sreeramulu: b.sreeramulu@sansad.nic.in, sreemulu070@gmail.com.
Are you facing an issue sending an email to any of these addresses?
I am closing the issue for now, since no details have been provided about failure of sending an email. Please feel free to reopen the issue with more specific details.

[2015-12-26 08:45] #122 closed

[2015-12-26 08:56] miteshashar commented on #116
@vrajjshah Can you please share what problem you are facing. Is there a Delivery Failure Notification email that you received?

[2015-12-26 08:59] miteshashar commented on #117
Duplicate of #106

[2015-12-26 09:00] gvkalra opened #129 "Email contents missing"
Hi,

When I am trying to send an email from my mobile, the email application doesn't get full contents.

Browser: Chrome on Android
Email Application: Inbox (by Gmail)

PFA screenshot of how it appears.
![screenshot_2015-12-26-14-28-04](https://cloud.githubusercontent.com/assets/498380/12005795/359fb244-abdd-11e5-9e1e-7e47009a48a2.png)

[2015-12-26 09:08] miteshashar commented on #121
Duplicate of #106

[2015-12-26 09:10] miteshashar commented on #108
https://github.com/netneutrality/savetheinternet.in/issues/106#ref-commit-85893c5

[2015-12-26 09:10] #108 closed

[2015-12-26 09:10] augiwan opened #130 "Inactive Email address - Karnataka – Bangalore South : Shri Ananth Kumar"
akumar-alpha@sansad.nic.in

---

**FROM: Mail Notification <MAILER-DAEMON@esadel04.nic.in>**
**SUBJECT: Inactive ID Notification.**

You have received this notification, as the recipient e-mail Address has been deactivated.

Original Envelope Sender: augustus.***@gmail.com
Envelope Recipient: akumar-alpha@sansad.nic.in
Date: 12/26/15
Time: 14:35:51
Subject: Seeking your support for Net Neutrality

[2015-12-26 09:10] #117 closed

[2015-12-26 09:10] miteshashar commented on #121
https://github.com/netneutrality/savetheinternet.in/issues/106#ref-commit-85893c5

[2015-12-26 09:10] #121 closed

[2015-12-26 09:11] #106 closed

[2015-12-26 09:11] #119 closed

[2015-12-26 09:11] sachin26 commented on #117
But her gmail id is working

http://pastebin.com/1HbjNFrg

[2015-12-26 09:11] #118 closed

[2015-12-26 09:15] miteshashar commented on #123
So, you have received this for the sansad.nic.in email address?
Are you able to get through the other email address(ananth@ananth.org)?

[2015-12-26 09:16] miteshashar commented on #117
Haven't removed her gmail id. Only the sansad.nic.in id.

[2015-12-26 09:18] miteshashar commented on #124
Can you please cite the reason for failure?

[2015-12-26 09:23] miteshashar commented on #126
@runningmark The context of your issue is not clear. Hence, I am closing it. Thanks.

[2015-12-26 09:23] #126 closed

[2015-12-26 09:26] miteshashar commented on #127
Duplicate: #123

[2015-12-26 09:29] #128 closed

[2015-12-26 09:30] miteshashar commented on #130
Duplicate #123

[2015-12-26 09:31] #123 closed

[2015-12-26 09:32] #127 closed

[2015-12-26 09:32] #130 closed

[2015-12-26 12:31] harshjain25 opened #132 "Parvesh Sahib Singh Verma"
Please type the details of the bounced email address(es) here…

[2015-12-26 13:28] bheema-bhx opened #133 "Please spread this"
Some cellular companies sending messages like below.

ఫేస్‌ బుక్‌ ద్వారా ఫ్రీ బేసిక్స్‌ సేవ అందరికీ అవసరమైన ఇంటర్‌ నెట్‌ సేవ ఉచితంగా అందించబడుతుంది. ఐతే ఈ సేవల పై ఆంక్షలు విధించే అవకాశం ఉంది. దయచేసి 1800 209 0921 కి మిస్డ్‌ కాల్‌ చేసి, మాతో సహకరించండి

"Facebook and the Internet service to everyone in the free Basics service is provided free of charge. However, it is possible to impose restriction

[2015-12-26 13:41] VeeraManikanta opened #134 "Telangana – Bhongir : Dr. Boora Narsaiah Goud"
Delivery to the following recipient failed permanently:

     bnarsaiah.goud@sansad.nic.in

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain sansad.nic.in by mailgw.nic.in. [164.100.2.6].

The error that the other server returned was:
550 #5.1.0 Address rejected.

[2015-12-26 15:36] sakshishukla opened #135 "Shri Dilip Kumar Mansukhlal Gandhi"
Hi,

We dont want net neutrality proposed by facebook.
Kindly check this issue.

Thanks,
sakshi

[2015-12-26 16:23] knightsamar commented on #135
Hi @sakshishukla, what is the exact issue you are facing ? Please paste the error message if that was an email delivery failure.

[2015-12-26 16:30] knightsamar commented on #129
Please give version details of Chrome, Android and Inbox.

[2015-12-26 17:04] gvkalra commented on #129
![screenshot_2015-12-26-22-29-44](https://cloud.githubusercontent.com/assets/498380/12007216/a257688a-ac20-11e5-857c-6b019474ec8c.png)
![screenshot_2015-12-26-22-31-44](https://cloud.githubusercontent.com/assets/498380/12007217/b2b5de46-ac20-11e5-86d9-d5591740583e.png)
![screenshot_2015-12-26-22-32-16](https://cloud.githubusercontent.com/assets/498380/12007225/d2b355a2-ac20-11e5-97ec-0a77860b9d17.

[2015-12-26 17:06] gvkalra commented on #129
@knightsamar I attached screenshots of the version information. It's always reproducing in my device. If I can help you with some logs, let me know how to take it.

[2015-12-26 17:18] miteshashar commented on #132
I am closing the issue for now, since you have not provided any details about which email address is not reachable.
Feel free to place a comment and let us know further details and henceforth reopen the issue.

[2015-12-26 17:18] #132 closed

[2015-12-26 17:19] mandeeprawat opened #137 "Shree Krishan Pal Gurjar"
palkrishangurjar@gmail.com - Wrong email.

[2015-12-26 17:21] miteshashar commented on #133
Thanks @bheema-bhx. I have shared your comment on social media.

[2015-12-26 17:21] #133 closed

[2015-12-26 17:24] #134 closed

[2015-12-26 17:30] miteshashar commented on #135
@sakshishukla Thanks for taking the effort to register to leave this comment here. This space is meant for reporting issues with the savetheinternet.in website.
We asked you to post an issue here only in the case of not being able to reach your MP's listed email on the site.
To send the email to your MP, you can simply follow the instructions on the link http://www.savetheinternet.in/mp

[2015-12-26 17:30] #135 closed

[2015-12-26 17:35] miteshashar commented on #137
@mandeeprawat Did you receive any Delivery Notification Failure email? Kindly share further details.

[2015-12-26 17:38] miteshashar commented on #129
@gvkalra @knightsamar It's reproducing on my mobile too. But, still not gotten around to the cause. If any of you do, please please throw in a pull request.

[2015-12-26 18:00] miteshashar commented on #125
Added a link to the STI blog in the footer.

[2015-12-26 18:00] #125 closed

[2015-12-26 18:09] gvkalra commented on #129
I guess it's something to do with specifics of Inbox.

I uninstalled Inbox, tried sending the mail with GMail and it worked.

[2015-12-26 18:10] miteshashar commented on #129
For me it works on Gmail even if I do not uninstall Inbox, which I have not tried.

[2015-12-26 18:14] gvkalra commented on #129
@miteshashar you mean for you GMail is problematic?

I am confused by
"It's reproducing on my mobile too"
and
"For me it works on Gmail even if I do not uninstall Inbox, which I have not tried."

[2015-12-26 18:17] miteshashar commented on #129
Sorry about the confusion.

"It's reproducing on my mobile too. But, still not gotten around to the cause. If any of you do, please throw in a pull request."
was a response to your comment: "It's always reproducing in my device. If I can help you with some logs, let me know how to take it."

"For me it works on Gmail even if I do not uninstall Inbox, which I have not tried."
was a response to your

[2015-12-26 18:25] mandeeprawat commented on #137
Sorry, we were unable to deliver your message to the following address.

<palkrishangurjar@gmail.com>:
Remote host said:
550-5.1.1 The email account that you tried to reach does not exist. Please try
550-5.1.1 double-checking the recipient's email address for typos or
550-5.1.1 unnecessary spaces. Learn more at
550 5.1.1  https://support.google.com/mail/answer/6596 v202si10078454qka.80 - gsmtp
[RC

[2015-12-26 18:32] #137 closed

[2015-12-26 18:50] Uditendu opened #139 "Smt. Dev (Moon Moon Sen) Varma"
sd.verma@sansad.nic.in
raimadevsen@gmail.com

[2015-12-26 18:52] miteshashar commented on #139
@Uditendu can you please share the exact reason for non-delivery cited in the bounced email?

[2015-12-27 06:28] Rajeev0507 commented on #108
Yes, email to gmail account was going through.

--- Original Message ---

From: "Mitesh Ashar" <notifications@github.com>
Sent: 26 December 2015 1:54 pm
To: "netneutrality/savetheinternet.in" <savetheinternet.in@noreply.github.com>
Cc: "Rajeev0507" <rajeev@accreteglobus.com>
Subject: Re: [savetheinternet.in] SMT. Meenakshi lekhi - NCT - New Delhi (#108)

That is one of the listed email address on

[2015-12-27 07:40] aravindet opened #140 "2-click flow for almost all users"
On most mobile platforms, we have ideal workflow requiring only two clicks:

- Click the button, which launches the system email app with the email pre-filled.
- Click "Send".

This covers about 70% of our users.

On desktop people typically do not have mailto: handlers set up, so we’re using the rather cumbersome Copy-Paste flow.

However most users have webmail, so instead of a single button we

[2015-12-27 09:07] jace commented on #140
There's a body length limit here as well, which is why we added the copy paste workflow. Gmail, for instance, truncates text beyond a certain number of chars (don't remember limit).

[2015-12-27 11:18] sohelrodrigues opened #141 "Chintaman Navsha Wanaga"
Both the given email addresses aren't reachable

1> n.wanaga@sansad.nic.in
2> chintamanvanaga@yahoo.in

[2015-12-27 13:10] aravindet commented on #140
Yeah, true. The URL length limit for the GMail mailto handler is 4kb (and they seem to have a separate (load-balancer level?) limit of 10kb.)

Our email is around 23 kb so it won't work.

[2015-12-27 13:10] #140 closed

[2015-12-27 19:29] miteshashar commented on #129
@cliveverghese Thanks. I dont think that would solve the problem. Moreover, since you closed the PR subsequently, I presume you realised the same.

[2015-12-27 20:11] #129 closed

[2015-12-27 21:10] captn3m0 commented on #126
I think @runningmark was pointed at the use of `internet.org` in the copy:

And whether we should use `freebasics.com`there instead.

[2015-12-27 21:21] miteshashar commented on #126
Done: 412c7be

[2015-12-28 06:07] siddhesh12 opened #144 "Arvind Sawant"
Please type the details of the bounced email address(es) here…

[2015-12-28 08:29] intelligence-0 opened #145 "Shri Shayama Charan Gupta"
Delivery to the following recipient failed permanently:

     shyamacharangupta@shyamscharangupta.co.in

Technical details of permanent failure:
DNS Error: Address resolution of shyamscharangupta.co.in. failed: Domain name not found

----- Original message -----

DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;
        d=gmail.com; s=20120113;
        h=mime-version:date:message-id:subject:fr

[2015-12-28 10:01] ad-a-hoc commented on #123
ananth@ananth.org didn't get any bounce mail, it got delivered somewhere!

[2015-12-28 11:26] riginoommen opened #147 "Shri Kodikunnil Suresh Email is Invalid"
Hey
Email of Shri Kodikunnil Suresh, Member of Parliament, Mavelikkara (SC) is invalid and getting the failure acknowledgment message

Email - kodikunnilsuresh@yahoo.co.in

[2015-12-28 17:33] avckp commented on #99
Hi,
I have translated the page /index.html to hindi. You can view it [here] (https://github.com/avckp/savetheinternet.in/blob/stage/src/hi/index.html). But i haven't translated the letter completely yet and its in english still. The language is a bit terse and its taking time. Depending on the last date for sending emails I will continue with the task of translating , is it 31st or 7th? I suppose

[2015-12-29 04:31] miteshashar commented on #99
The last date is 30th, i.e. tomorrow.
We cannot launch unless the answers are completely translated too, else there is no point as people will not have the freedom to read, understand and edit their answers.
@jitendravyas @avckp Do you think you can pull it off soon?
A request, please use simple hindi language, as a lot of people might not be able to understand complex or less frequently used word

[2015-12-29 05:03] KARTIKSAINI8055 opened #148 "Email of Shri Raj Kumar Saini missing"
Email address of Shri Raj Kumar Saini:

[2015-12-29 05:06] miteshashar commented on #141
@sohelrodrigues
1. You've mentioned the first email address as `n.wanaga@sansad.nic.in`. It was supposed to be `cn.wanaga@sansad.nic.in`.
2. What is the reason of failure cited in the Delivery Failure Notification email?

[2015-12-29 05:08] miteshashar commented on #144
@siddhesh12 There are two email addresses listed for him: `arvind.sawant@sansad.nic.in` & `arvindsawantg@gmail.com`.
Please comment on which one is failing and do cite the reason of failure quoted in the Delivery Failure Notification email.

[2015-12-29 05:16] #145 closed

[2015-12-29 05:18] miteshashar commented on #147
@riginoommen What is the reason of failure mentioned in the Delivery Failure Notification email?

[2015-12-29 05:18] riginoommen commented on #147
Email is incorrect

[2015-12-29 05:19] riginoommen commented on #147
Delivery to the following recipient failed permanently:

     kodikunnilsuresh@yahoo.co.in

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain yahoo.co.in by mx-apac.mail.gm0.yahoodns.net. [106.10.166.52].

The error that the other server returned was:
554 delivery error: dd This user doesn't have a yahoo.co.in a

[2015-12-29 05:20] riginoommen commented on #147
Delivery to the following recipient failed permanently:

     kodikunnilsuresh@yahoo.co.in

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain yahoo.co.in by mx-apac.mail.gm0.yahoodns.net. [106.10.166.52].

The error that the other server returned was:
554 delivery error: dd This user doesn't have a yahoo.co.in a

[2015-12-29 05:23] #147 closed

[2015-12-29 05:23] #148 closed

[2015-12-29 05:28] miteshashar commented on #100
@rdsubhas Where are you suggesting us to show the screenshots?

[2015-12-29 09:51] rdsubhas commented on #100
@miteshashar thanks for the great work. If you could add a page on how to respond to Facebook's "I support Free Basics" form, and probably link to it in the home page it would be great :+1: And we can share that link in our social network for people to take the right action if facebook shows that form

[2015-12-29 09:56] miteshashar commented on #100
The best way to respond to it is not to respond to it. Whatever you do, they will show people you support Free Basics.

[2015-12-29 09:56] #100 closed

[2015-12-29 11:57] avckp commented on #99
Its great what you guys have done so quickly. Unfortunately I am at work and not able to contribute . I have requested my friend to translate the letter. He will send pull request once done.

[2015-12-30 03:48] rdsubhas commented on #100
yeah that's definitely true :+1: thanks

[2015-12-30 07:59] sohelrodrigues commented on #141
Hi,
I tried sending the mail to the following addresses, and received a mailer daemon message. I thought that maybe the yahoo domain maybe incorrectly typed as"yahoo.in" instead of "yahoo.co.in" but it didn't help. Also I tried using both spellings of the surname- "Wanaga" and "Vanaga" but the issue was unresolved. Below are the failure messages I received.

Delivery to the following recipient fai

[2015-12-30 09:09] knightsamar commented on #141
Solutions seem to be to call his Lok Sabha office asking his email address or post the message on the MP's Facebook.

[2015-12-30 10:09] ashishsonu50 opened #151 "Odisha Cuttack bhartruhari.mahatab@gmail.com"
bhartruhari.mahatab@gmail.com

[2015-12-30 10:15] knightsamar commented on #151
Please paste the error message that you are getting.

[2015-12-30 11:00] palerdot opened #154 "Typo: 'misrepresented' spelled as 'misprepresented'"
I have also created a pull request for this

https://github.com/netneutrality/savetheinternet.in/pull/153

[2015-12-30 11:56] jakgreat opened #155 "Smt Darshanaben Jardosh"
Delivery to the following recipient failed permanently:

     darshanajardosh@sansad.nic.in

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain sansad.nic.in by mailgw.nic.in. [164.100.10.19].

The error that the other server returned was:
550 #5.1.0 Address rejected.

----- Original message -----

DKIM-Signature

[2015-12-31 03:08] #141 closed

[2015-12-31 03:10] miteshashar commented on #154
Fixed in ddca6db

[2015-12-31 03:10] #154 closed

[2015-12-31 03:19] #155 closed

[2015-12-31 06:31] palerdot commented on #154
Thanks,

But he typo is still there in the actual blog posts which does not come from this github repo
http://blog.savetheinternet.in/if-youve-been-misled-by-facebook/

You may have to rectify it.

[2016-01-01 16:18] palerdot opened #159 "'misrepresented' typo still in actual blog posts"
The typo of word 'misrepresented' is still live in the actual blog posts here
http://blog.savetheinternet.in/if-youve-been-misled-by-facebook/

The typo is only corrected in the blog title in the site.
https://github.com/netneutrality/savetheinternet.in/issues/154

[2016-01-06 13:52] jeffrey4u opened #161 "Anto Antony"
For the email address(es) that have bounced, please provide us the following by copy-pasting it from the Failure Delivery email that you have received:
• Failed email address:
anto.antony@ymail.com

• Technical details:
Google tried to deliver your message, but it was rejected by the server for the recipient domain ymail.com by mta7.am0.yahoodns.net. [98.138.112.34].

• The error that the server r

[2016-01-06 14:03] miteshashar commented on #161
@jeffrey4u http://nocorruption.in/mps/anto-antony/#_ lists the other email address as invalid too. Did that bounce?

[2016-01-06 14:13] jeffrey4u commented on #161
No, only this email email id bounced- anto.antony@ymail.com

On 6 January 2016 at 19:33, Mitesh Ashar <notifications@github.com> wrote:

[2016-01-06 14:28] #161 closed

[2016-01-07 10:35] adcnaresh opened #162 "Name of MP:pogulati srinivas reddy"
For the email address(es) that have bounced, please provide us the following by copy-pasting it from the Failure Delivery email that you have received:
• Failed email address:

• Technical details:

• The error that the server returned:

[2016-01-07 10:38] miteshashar commented on #162
@adcnaresh Please fill the details asked for in the comment.

[2016-01-09 06:01] CxRes opened #163 "Organizing a response"
I am writing here because I do not know how to reach specific savetheinternet.in volunteers.

I would like to volunteer my time to organize a counter-response to TRAI consultation paper responses by cellular operators and their collectives. But it is something I cannot do alone. So I was wondering if the community can split up the work to respond to a operator each and then cross-check our respons

[2016-01-09 10:42] jace commented on #163
You've come to the right place. Can we have your email address?

[2016-01-09 12:20] CxRes commented on #163
`q7957-trai-petition@yahoo.co.in`
(I started using the alias because of the TRAI leak last time, but now I find it helps with organizing mails as well :) )

May I suggest/request having a 'sitemap' and 'contact us' on the savetheinternet webpage for others looking to help out...

[2016-01-09 13:13] jace commented on #163
Check your mail.

[2016-01-09 13:13] #163 closed

[2016-01-10 06:21] Sushubh opened #164 "Any plans to target BSNL/MTNL for injecting ads on customer's computers?"
I understand that FreeBasics is the current focus of this platform. But I would like you guys to consider expanding the scope a bit to include MTNL and BSNL for their behavior of injecting ads on customer's devices.

I posted a thread on reddit highlighting the issue:
[MTNL and BSNL Broadband are both injecting ads on their internet services pretending it is a feature](https://www.reddit.com/r/ind

[2016-01-10 23:20] ngosh opened #165 "Name of MP: S R Vijayakumar"
For the email address(es) that have bounced, please provide us the following by copy-pasting it from the Failure Delivery email that you have received:
• Failed email address:

• Technical details:

• The error that the server returned:

[2016-01-10 23:22] ngosh commented on #165
Please support net neutrality against free basics in the parliament.

[2016-01-11 01:17] bajjuguitarist opened #166 "Name of MP: Shri Ponguleti Srinivasa Reddy"
For the email address(es) that have bounced, please provide us the following by copy-pasting it from the Failure Delivery email that you have received:
• Failed email address:
 psrysrcp@gmail.com, psrysrcp2112@gmail.com
• Technical details:

• The error that the server returned:
Your message cannot be delivered to the following recipients:

 Recipient address: psrysrcp2112@gmail.com
 Reason: Remot

[2016-01-24 17:31] RaghavPro opened #169 "Bug in sub heading of http://blog.savetheinternet.in"
This is weird.
Here's the header code from http://blog.savetheinternet.in
[code]

And this is how it renders
![screen shot 2016-01-24 at 22 47 54](https://cloud.githubusercontent.com/assets/4872139/12537760/f791fe54-c2ec-11e5-80da-06f470430d6b.png)
No F in fight.

The problem is in `font-weight` property of `page-description`.

I'm using OSX 10.11.1 and this happens on latest versions of Safari, F

[2016-01-24 17:55] captn3m0 commented on #169
Same for me on OSX 10.11.1 + Chrome atleast. Guessing an issue with the Merriweather?

[2016-01-24 17:57] captn3m0 commented on #169
Looks like its a bug in the `fi` ligature in the Merriweather font update: https://github.com/google/fonts/issues/8#issuecomment-174155822

[2016-01-24 18:07] davelab6 commented on #169
The update to Merriweather was made in advance of the Firefox 44 launch on Tuesday that will mean the old files will just stop working.

The bug with fi/fl ligatures has a workaround - you can turn ligatures off with CSS to work around this until then:

    -webkit-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
    -moz-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
    -o-font-feature

[2016-01-24 18:52] miteshashar commented on #169
@davelab6 I checked that this does get solved if we change `font-weight: 400;` to `font-weight: bold;`.
This may not be the ideal solution but works, is trivial and lets us focus on more important things right now.
Anyways, feel free to fork & send us a PR on what you feel is the best solution. Though, this bug is technically not a part of this repo. It should be on https://github.com/netneutralit

[2016-01-24 18:52] #169 closed

[2016-01-24 19:19] davelab6 commented on #169
If you do nothing, it will be fixed upstream with Google in about 24 hours

[2016-01-24 19:20] miteshashar commented on #169
@davelab6 Ah, perfect! Thanks for the heads up.

[2016-01-27 05:48] jace commented on #164
We're _currently_ limiting our focus to having TRAI pass rules because it's hard enough to stay focused on one thing (and _not_ Free Basics, which is collateral impact). However, if TRAI does pass favourable rules, the remaining things like ISPs modifying pages in transit become plainly illegal and easier to target.

However, if you'd like to take this up on priority, you're welcome to volunteer.

[2016-02-29 08:05] Sushubh opened #175 "MTNL Broadband refuse to provide any information on ad injection on their platform"
I am not an expert on RTI but I tried asking a few questions. They rejected all of them on the basis of Section 8(1)(d) in The Right To Information Act, 2005.

I am attaching the RTI and the response here for reference. And looking forward to guidance on how this can be proceeded further.
![chrome_2016-02-29_13-32-23](https://cloud.githubusercontent.com/assets/310098/13388801/27c24ac6-dee9-11e5-8b

[2016-02-29 09:35] #116 closed

[2016-02-29 09:35] #124 closed

[2016-02-29 09:35] #139 closed

[2016-02-29 09:35] #144 closed

[2016-02-29 09:35] #151 closed

[2016-02-29 09:35] #162 closed

[2016-02-29 09:35] #164 closed

[2016-02-29 09:35] #165 closed

[2016-02-29 09:35] #166 closed

[2016-02-29 10:16] jace commented on #175
Related: #164.

[2016-02-29 15:40] kanishkablack commented on #175
Right one the face of RTI and indian Internet Users

[2016-03-13 20:07] apsatwal commented on #175
These ad servers are vulnerable to open redirect as well. Tried reporting to CERT-IN but
![- 2016-03-14 01 09 48](https://cloud.githubusercontent.com/assets/12540732/13730992/43247f86-e985-11e5-9854-d117f84c362c.png)

[2016-03-14 10:14] kanishkablack commented on #175
@apsatwal i guess the certs mail box is full ..........

[2016-03-15 11:00] Sushubh commented on #175
Update 1: MTNL is also now injecting ads in both incoming and outgoing mails sent through their mail service. Outgoing is a common thing. A lot of webmail services add their signature line or at least they used to. But MTNL is going one step ahead and they are also tampering with INCOMING MAILS and insert their ads in them.

Update 2: The modified mails are now linking to this domain: [http://mtnl

[2016-03-15 13:57] apsatwal commented on #175
As per above website title "MTNL Advertisements made by Carizen"
The domain mtnlads.in has been booked by Carizen Software (P) Ltd. with their homepage at www.carizen.com a Chennai based company appears to be the technology partners. As per info available on their website they already offer an email hosting solution by the name safentrix.in with option to serve advertisements.

[2016-03-15 14:24] Sushubh commented on #175
And their tech partner for ad-injection is Abeer Media and their subsidiary Adphonso. Just imagine how much private data is being leaked into private hands. Woo.

[2016-03-16 05:32] apsatwal commented on #175
In the injected ad links the utm_source is abeer
`www.caringpapa.com/landing/health/tax/?utm_source=abeer&utm_source_code=CP2818&utm_medium=bannertax&utm_content=bannertax&utm_campaign=affiliate`

[2016-04-26 07:51] Sushubh commented on #175
Just an update. BSNL has also responded with the same excuse. Article 8(1)(d).

https://drive.google.com/file/d/0B7GnL1EQD2WZX0dBNkZjSmhzeDQ/view

[2016-05-01 05:46] clain4u commented on #164
Dear BSNL,

    Injecting data (Ads) in the requested information, which means you are altering the information.
    You are collecting my:
        Machine details
        Browser Details
        OS Information
        My usage pattern
        And my location
        All of that, without my approval or knowledge which means you are spying on my web browsing.

    You are collecting all my personal

[2016-05-09 14:56] Sushubh commented on #175
https://drive.google.com/file/d/0B7GnL1EQD2WZbk9Sa0sxdkQzUTQ/view

I filed an appeal with MTNL and they have responded to two questions now. They continue to block responses to other questions based on 8(1)(d).

Based on this response... MTNL claims that absolutely no data is being collected during the process. They got this information through a certificate from the vendor. Now if we assume that

[2016-05-13 10:36] avinashseth commented on #164
I'm from MP, and i still get these ads, are you guys done with them or still facing that issue ?

[2016-05-13 10:39] clain4u commented on #164
I have lodged a complaint to the BSNL office and the ads seems to have
disappeared. So only the baby that cries gets the milk..!! Try the same..
lodge a complaint

*ThanksClain D'silva*

On Fri, May 13, 2016 at 4:06 PM, Avinash Seth <notifications@github.com>
wrote:

[2016-05-13 10:53] avinashseth commented on #164
hi you mean some forum they have or i've to actually visit them and lodge the complaint ?

[2016-05-13 11:45] clain4u commented on #164
Visit BSNL office and lodge a complaint.. Its easy and you will get it
resolved

*ThanksClain D'silva*

On Fri, May 13, 2016 at 4:23 PM, Avinash Seth <notifications@github.com>
wrote:

[2016-06-05 00:08] Sushubh commented on #175
Got another letter from BSNL today. BSNL's Appellate authority states that the CPIO has applied his wisdom in answering/not-answering the questions so all is well.

https://drive.google.com/open?id=0B7GnL1EQD2WZeWx2T3lZQW5mOFE

PS: I am no longer pursuing this issue. I would update this thread when MTNL responds to the appeal I sent them few weeks ago.

[2016-06-15 10:37] cshubhamrao opened #178 "Include a link to the TRAI consultation paper"
Any of the appropriate words in the title (or the whole title) should hyperlink to the [actual consultation paper](http://www.trai.gov.in/WriteReadData/ConsultationPaper/Document/CP_07_free_data_consultation.pdf)

[2016-07-22 04:52] kartikluke commented on #7
Hello!
Your friend Kartik S. recently e-filed taxes on ClearTax -- and wants to recommend ClearTax to you for your tax return filing.

I'll give you a little bit of context on ClearTax: India's largest tax platform with over a million Indian tax payers and 20,000 businesses. E-Filing is secure and free on our platform.

    - If you receive a Form-16, just upload it here - http://email.cleartax.in

[2016-07-22 04:52] kartikluke commented on #7
Hello!
Your friend Kartik S. recently e-filed taxes on ClearTax -- and wants to recommend ClearTax to you for your tax return filing.

I'll give you a little bit of context on ClearTax: India's largest tax platform with over a million Indian tax payers and 20,000 businesses. E-Filing is secure and free on our platform.

    - If you receive a Form-16, just upload it here - http://email.cleartax.in

[2016-08-09 13:18] apsatwal commented on #175
Here is new advertisement redirect by BSNL
For non existing domains BSNL nameservers now redirect to  http://id.domain-error.com
[code]
Here expected answer was NXDOMAIN

[2017-02-04 19:40] cshubhamrao commented on #178
No longer relevant :)

[2017-02-04 19:40] #178 closed

[2017-03-21 13:54] kanishkablack commented on #175
@apsatwal check the server port which you are doing querying too

[2017-03-31 20:03] apsatwal commented on #175
Here is another private ISP using misleading adv techniques, sending complete user details i.e. IP address, DSL Username along with advt
<img width="488" alt="screen shot error adv" src="https://cloud.githubusercontent.com/assets/12540732/24567312/c9593bbe-167a-11e7-9c5a-b03d51ea5aa2.png">
<img width="594" alt="screen shot success adv" src="https://cloud.githubusercontent.com/assets/12540732/24567

[2017-03-31 20:16] chromaniac2 commented on #175
MTNL also seems to be using [phozeca](https://broadbandforum.co/threads/137809/#post-1146853) these days. Can you tell the name of the ISP?

[2017-03-31 20:40] apsatwal commented on #175
It is Connect Broadband a subsidiary of Videocon Group

[2017-05-02 18:55] anomalizer commented on #175
Has anyone tried filing a complaint on the grounds of security and privacy? Asking them questions around commercials, scale of the programme and so on is what is getting stonewalled under the garb of trade secrets

[2017-05-02 18:57] kanishkablack commented on #175
@anomalizer yes

[2017-06-19 18:20] apsatwal commented on #175
phozeca jquery inject
<img width="1000" alt="screen shot 2017-06-19 at 11 06 04" src="https://user-images.githubusercontent.com/12540732/27298886-05da50a8-5548-11e7-9957-b1edece6d7bd.png">

php.net serving advt, thanks to phozeca
<img width="512" alt="php net" src="https://user-images.githubusercontent.com/12540732/27299274-700105d4-5549-11e7-816b-2a173eaf322f.png">

Fake site notifications
<img w

[2017-06-19 18:55] apsatwal commented on #175
Fake Notification thanks to phozeca, and a redirect to infected pdf?
<img width="1222" alt="screen shot 2017-06-20 at 12 18 44" src="https://user-images.githubusercontent.com/12540732/27300819-adf682c4-554e-11e7-8def-e39750481c8a.png">

Possible exploit of [CVE-2016-1681](https://www.cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-1681)?
<img width="716" alt="screen shot 2017-06-20 at 12 14 46" sr

[2017-10-20 10:08] #99 closed

[2018-06-11 16:04] hemanth7787 commented on #175
Many of these ad redirects go to pages that ask you to download malware installation files etc.  Needless to say millions of BSNL subscribers might be infected with these malwares/viruses.  I wonder,  How is a govt owned company being able to do this and escape the public and laws of this country?

[2018-12-26 14:18] Veek opened #180 "BSNL is NOT injecting ads: it's a CDN server can TinyPass.com in cahoots with Airtel - please update your threads to reflect the same and spread the word"
Hi, So like everyone else, I've been bombarded with ads on the BSNL network - I examined the src code and concluded that BSNL was injecting ads.

**However this is not true and a careful examination of the Browser Call Stack reveals just that**
More info here: https://www.reddit.com/r/IndiaSpeaks/comments/a9nsoz/bsnl_is_not_injecting_the_ads_into_our_http/

Basically, since Javascript files are lo

[2019-03-09 13:29] RohitAwate commented on #175
@Sushubh Thank you for your efforts. Did you try approaching TRAI?

[2019-04-16 11:17] madappally commented on #175
Any updates on this?
I'm also experiencing ad injection from BSNL Boradband on these days

[2021-04-02 05:11] nurav1997 commented on #175
any Updates?

[2021-04-23 14:20] jace commented on #175
This repository is for the 2015-16 campaign. It's no longer maintained. Please use the [Internet Freedom Foundation's forum](https://forum.internetfreedom.in/) to discuss this and bring it to their attention for follow-up.